html, body {
/*	width:100%;
	height:100%;
	padding:0;*/
	margin:0;
	background-color: #ccc;
	font-family:sans-serif;

}

header{
	/*position:fixed;*/
	padding: 0px;
	background-color: black;
	width: 100%;
}
#esp{
	position: absolute;
	margin-top: 130px;
	background-color: gold;
	height: 100%;
}
 
 
#lugar{
	float: left;
	background-color: #008Caa;
	margin: 1% 1%;
	width: 48%;	
	border-radius: 5px;
}

#op{
	float: right;
	padding: 30px;
	width: 90px;
	height: 70px;
	position: fixed;
	margin-left: 88%;

	/*background-color: #ccc;*/
}

li {
list-style-type: none;
text-align: center;
padding: 0%;
}

#search{
	margin:  20px 20%;
	width: 60%;
	font-size: 30px;
	padding: 5px;
	border-radius: 5px;
	border-style: none;
	outline: none;
}
a{
	text-decoration: none;
	color: #fff;
	font-family: monospace;
}
.linhas{
	
	width: 90%;
	margin: 2% 4%;
	border-radius:10px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #888;
}
#top{
	position: fixed;
	margin:0;
	width: 100%;
	margin-top:-180px; 
}
#main{
	margin-top:180px; 
}
h3{
	font-family:sans-serif;
	font-size: 20px;
}

p{
	font-family:sans-serif;
}

#fone{
	float: right;	
	margin-top: -100px;
	text-align: center;
	background-color: #afa;
	width: 25%;
	height: 100px;
	border-radius: 0 8px 8px 0;
}
#conteudo{
	text-align: center;
	width: 75%;
	/*background-color: #357;*/
	height: 100px;	 
	border-radius:  10px 0 0 10px;
}
#cal{
	margin: 17px 0;	 
}
#logo{
	float: left;
	position: absolute;
	margin: 3px;
	width: 19%;
	max-width: 100px;
}