#body{
 overflow-x: hidden; 
}
#busca{
	position: absolute;
	padding: 8px;
	background-color: #FF8C00; 
	margin: -9px;	
	width: 99%;	
}	
#buscar{		
	width: 60%;
	margin: 0 20% 0 20%;
	padding: 5px;
	border-radius: 10px;
	border:0;
}
#imag{
	float: left;
	background-color: #008Caa;
	margin: 5px 5px;
	width: 406px;	
	height:  200px;
}
#imap{
	float: left;
	background-color: #008Caa;
	margin: 5px 5px;
	width: 197px;	
	height:  200px;
}
#resultado{
 	position: absolute;
 	border:0;
	margin-top: 32px;
	width: 99%;	
	height: 94%;	
}
#corpo{
	position: absolute;
	margin: 2% 10% 2% 10%;
	width: 80%;	

}